body {
	background-color: lightblue;
}
 .first {
 	background-color: white;
 	height: 120px;
 	border: 1px solid black;
 	margin: 50px;
 	margin-left:center;
 	padding-top:20px;
 	padding-left: 10px;
}
.second {
	background-color: white;
	height: 120px;
	border: 1px solid red;
	margin: 50px;
	padding-top: 20px;
	padding-left: 10px;
}
.th {
	background-color: white;
	height: 120px;
	border: 1px solid blue;
	margin: 50px;
	padding-top: 20px;
	padding-left: 10px;
}
